body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-repeat: no-repeat;
}

header{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}
header h1{
  color:darkslateblue;
  line-height: 20px;
  margin: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}
header h4{
  color:rgb(130, 28, 0);
  line-height: 20px;
  margin: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
img {
  width: 400px;
  height: 250px;
  margin: 0 auto;
}
#searchdiv{
  width: 300px;
  border: 1px solid black;
  background-color: white;
}
#searchdiv i{
  margin-left: 2px;
  color: darkslateblue;
}
#searchinput{
  width: 280px;
  height: 30px;
  margin-top: 10px;
  border: none;
}

#searchbutton{
  margin: 10px;
  height: 30px;
  width: 150px;
  background-color:darkslateblue;
  color: white;
}
#clearbutton{
  margin: 10px;
  height: 30px;
  width: 150px;
  background-color:darkslateblue;
  color: white;
}
